    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
        <img src="{{ asset('build/mirko/assets/images/up-arrow.png') }}" alt="alternative">
    </button>
    <!-- end of back to top button -->