
<!-- Bottom -->
<div class="bottom py-2 text-light" >
    <div class="container">
        <div>
            <br>
            <p class="text-center">{{ 'configuration.copyright' | trans }}</p>
        </div>
        {{ social_icons_view() }}
    </div> <!-- end of container -->
</div> <!-- end of bottom -->