{% extends 'base.html.twig' %}
{% block title %}
	{{ 'configuration.header.fields.home' | trans }}
{% endblock title %}
{% block content %}
<!-- Services -->
<section class="services d-flex align-items-center py-5" id="services">
    <div class="container text-light">
        <div class="text-center pb-4">
            <h2 class="py-2">{{ 'message' | trans }}</h2>
        </div>
        <div class="row gy-4 py-2" data-aos="zoom-in">
            <div class="col-lg-12">
                <p>
                    The requested page couldn't be located. Checkout for any URL
                    misspelling or <a href="{{ path('web_index') }}">return to the homepage</a>.
                </p>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of services -->
{% endblock content %}