<!-- About -->
<section class="about d-flex align-items-center text-light py-5" id="about">
    <div class="container" >
        <div class="row d-flex align-items-center">
            <div class="col-lg-7" data-aos="fade-right">
                <h1>{{ 'configuration.header.fields.about.label' | trans }}</h1>
                <p class="py-2 para-light">{{ 'configuration.header.fields.about.message' | trans | raw }}</p>
            </div>
            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                <img class="img-fluid" src="{{ asset('build/mirko/assets/images/about.jpg') }}" alt="about" >
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of about -->