<!-- Slide -->
<div class="swiper-slide">
    <div class="testimonial-card p-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam commodi officia laborum qui iste quidem!</p>
    
        <div class="d-flex pt-4">
            <div>
                <img class="avatar" src="{{ vich_uploader_asset(item,'file') }}" alt="{{ item.fullname }}">
            </div>
            <div class="ms-3 pt-2">
                <h6>{{ item }}</h6>
                <p>{{ item.fonctionCourante }}</p>
            </div>
        </div>
    </div>
</div> <!-- end of swiper-slide -->
<!-- end of slide -->