<div class="col-lg-4">
    <div class="card bg-transparent">
        <img class="mission-img" src="{{ vich_uploader_asset(item,'file') }}" alt="testimonial">
        <h4 class="py-2">{{ item.description }}</h4>
    </div>
</div>