            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="{{ 'configuration.contact.fields.facebook.value' | trans }}" target="_blank">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="{{ 'configuration.contact.fields.youtube.value' | trans }}" target="_blank">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-youtube fa-stack-1x"></i>
                    </a>
                </span>
            </span>